@import url("https://fonts.cdnfonts.com/css/barbie-6");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barbie", sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: white;
  font-size: 45px;
}
.navBar a {
  display: inline-block;
  font-family: 35px;
  text-decoration: none;
  font-weight: 450;
  margin-left: 35px;
  transition: 0.3s;
  color: rgb(16, 16, 16);
  height: auto;
  cursor: pointer;
  font-size: large;
  transition: 0.4s ease;
}
.navBar a:hover,
.navBar a.Main {
  color: rgb(255, 248, 234);
  cursor: pointer;
}

.logo {
  color: white;
  text-decoration: none;
}

body {
  background: rgb(249, 93, 168);
  color: white;
}

section {
  padding: 100px 200px;
}

.Intro {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Intro .content {
  z-index: 888;
  color: white;
  width: 70%;
  margin-top: 50px;
}

.Intro .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 70px;
  margin-bottom: 35px;
  text-align: center;
}
.Intro .content span {
  text-transform: lowercase;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}
.Intro .content p {
  margin-bottom: 65px;
  text-align: center;
  font-size: 25px;
  font-weight: 20px;
}
.Intro .content a {
  text-decoration: none;
  background: rgb(245, 112, 216);
  padding: 15px 35px;
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 30px;
  letter-spacing: auto;
  text-align: center;
  width: fit-content;
  padding: 15px 20px;
  margin: 20px auto;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  box-shadow: 0 0 10px white;
  position: relative;
}
.Intro .content a:hover {
  color: white;
  transition: 0.3s;
}
.Intro .socialMedia a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 3px solid;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: auto;
}

.Intro .socialMedia {
  position: absolute;
  background: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 888;
  flex-direction: column;
  transition: 0.5s ease;
  right: 30px;
  transition: 0.5s ease;
}

.Intro .socialMedia a:not(:last-child) {
  margin-bottom: 20px;
}
.Intro .socialMedia a:hover {
  transform: scale(1.3);
  color: white;
}
.Intro video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vidNav {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(70px);
  margin-bottom: 12px;
}

.vidNav .Navbtns {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px wheat;
  transition: 0.4s ease;
}

.vidNav .Navbtns.active {
  background: palevioletred;
}

.vidNav .Navbtns:not(:last-child) {
  margin: 30px;
}
.vidNav .Navbtns:hover {
  transform: scale(1.2);
}

.vidSlider {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.vidSlider.active {
  clip-path: circle(150% at 0 50%);
}

@media (max-width: 1040px) {
  header {
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }
  section {
    padding: 100px 20px;
  }

  .Intro .socialMedia {
    right: 30px;
  }
  header .navBar {
    display: none;
  }
  .menuBtn {
    background: url() no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0;
    transition: 0.3s ease;
  }
  .menuBtn.active {
    z-index: 999;
    background: url() no-repeat;
    background-repeat: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}
